body {
    font-family: Arial, sans-serif , serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 17px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EEE8DD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.nav-bg {
    background-color: #1e7b85;
}
.logo {
    width: 100%;
    height: 40px; 
    /* max-width: 100px; */
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.nav-link{
    color: #fff;
    font-weight: 600;
    font-size: large;
}
.nav-link:hover {
    color: #fff;
}
.ft-link {
    color: #fff;
    font-weight: 600;
    font-size: medium;
    text-decoration: none;
    position: relative; /* Add this to position the border correctly */
}

.ft-link:hover {
    border-bottom: 2px solid #fff; /* Adjust the border size and color as needed */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.notice {
    background-color: #FFFFCC;
}

label {
    font-size: 1.2em;
}

input[type="url"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #1e7b85;
    border-radius: 4px;
    width: 100%;
    max-width: 800px;
}

.dwn_button {
    padding: 10px;
    width: 300px;
    font-size: 1.2em;
    color: #fff;
    background-color: #1e7b85;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dwn_button:hover {
    background-color: #1A646C;
}

#progress {
    display: none;
    margin-top: 20px;
}

#progress p {
    margin: 0 0 10px 0;
    font-size: 1em;
}

progress {
    width: 100%;
    height: 20px;
    max-width: 500px;
}
.icon-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#result {
    margin-top: 20px;
    font-size: 1em;
    color: #007bff;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.left-card {
    opacity: 0; /* Initially hidden */
    transform: translateX(0%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.left-card.visible {
    opacity: 1;
    transform: translateX(0);
    animation: slideInFromLeft 1s ease forwards;
}

.left-card.hidden {
    opacity: 0;
    transform: translateX(0%);
}


/* Keyframe for sliding in from the right */
@keyframes slideInFromRight {
    from {
        transform: translateY(100%); /* Start from off the right side of the screen */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Move to the original position */
        opacity: 1;
    }
}

/* Cards initially hidden off the right side */
.right-card {
    opacity: 0; /* Initially hidden */
    transform: translateY(0%); /* Positioned off the right side */
    transition: transform 1s ease-out, opacity 1s ease-out;
}

/* When visible, they slide in from the right */
.right-card.visible {
    opacity: 1;
    transform: translateY(0); /* Slide to its original place */
    animation: slideInFromRight 1s ease forwards;
}

/* Reset the position when they leave the viewport */
.right-card.hidden {
    opacity: 0;
    transform: translateY(0%); /* Hide off the right side */
}


footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
    color: #fff;
}
@media (max-width: 576px) {
    .container {
        margin: 20px auto;
        padding: 15px;
    }
    .navbar-collapse {
        display: flex;
    }

    header h1 {
        font-size: 1.5em;
    }

    label {
        font-size: 1em;
    }

    input[type="url"], button, progress {
        font-size: 0.9em;
    }

    .dwn_button {
        padding: 5px;
        width: 120px;
        font-size: 1em;
        color: #fff;
        background-color: #1e7b85;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .heading-text {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .logo {
        width: 100%;
        height: 30px; 
        margin: 0;
        padding: 0;
    }
    .error-image {
        margin-top: 20px;
        max-width:100%;
        }
}
@media (min-width: 577px) and (max-width: 768px) {
    .heading-text {
        font-size: 1rem; 
    }
}
@media (min-width: 769px) {
    .heading-text {
        font-size: 1.5rem; 
        font-weight: bold;
    }
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover::after {
    background-color: #fff;
}

.custom-container {
    max-width: 1100px; /* Adjust the max-width as needed */
    margin: 0 auto;    /* Center the container */
    padding: 0 15px;   /* Optional: Add some padding for better aesthetics */
}

